.flexi{
    background-color:ghostwhite;
    
        background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-medical-medical-doctor-science-gradient-background-image_63443.jpg);
        
    
    
}
.flexid{
    display: flex;
}
.img-Size{
    height: 250px;
}
.flexis{
    display: flex;
    align-items: center;
    align-content: space-between;
    
}
.colorr{
    color: black;
    font-weight: bold;
}
.colorr:hover{
    background-color:white;
    color:black;
    border-radius: 50px;
    cursor: pointer;
}
.secondPartHeader{
    background-color:#1752BA;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
    margin-bottom: 5px;
    text-align: center;
    color: white;
    padding: 8px 0px 8px 0px;
}
.containers a{
    margin: 3px;
    
}
.ngb{
    margin-bottom: 5px;
}
.lk:hover{
    cursor: pointer;
}
@media only screen and (max-width:688px){
    .flexid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .flexis{
        display: grid;
        grid-template-rows: repeat(3,1fr);  
    }
    .flexi{
        background-color:ghostwhite;
        
            background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-medical-medical-doctor-science-gradient-background-image_63443.jpg);
            background-position: center top;
            background-size: 100% auto;
            background-repeat: no-repeat;
        
        
    }
}