.we{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.as{
    background-color: #8CDCFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.zx{
    text-align: center;
}
.loo{
    border-bottom: 2px solid white;
    margin-left: 20px;
    margin-right: 10px;
}
@media only screen and (max-width:688px){
    .we{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}